<%= page_title "What's going on with these anonymous proposals?" %>

<p>Proposals (and comments on a proposal made by the author) are now anonymously. This is minimalize the bias during the selection of proposals bias and to encourage as many people who might be new to developer conferences to submit a proposal.</p>

<p>We want to encourage <em>everyone</em> to participate in UIKonf as fully as possible, and one of the ways we can ensure that everyone is treated equally is by not revealing who is behind each proposal.</p>

<p>So, why not <%= link_to "propose a talk now", new_proposal_path %>?</p>
