<%= page_title 'Propose a talk' %>

<p class="well">So you want to talk at UIKonf? That&rsquo;s great! If you haven't already, you may wish to <%= link_to "read about the vestibule process", the_vestibule_process_path %> to find out how everything works.</p>

<p>
  <strong>NOTE:</strong> proposals are <%= link_to "anonymous", anonymous_proposals_path %> and only ONE submission is allowed. The community feedback and voting gets overwhelmed under the number of proposals we receive. Please give us your best talk.
</p>

<%= render "form" %>
