$text-color           : #444444;
$background-color     : #F0F0F0;
$link-color           : #499DF9;

$content-background-color : #FEFEFE;

$font-stack           : "ff-bau-web", sans-serif;
$alternate-font-stack : "Antenna Extra Cond", sans-serif;

html {
    font-family: $font-stack;
}

header {
  margin: 1em 0 0 0;

  .brand {
    margin-bottom: 2em;
	p {
		color: #444444;
	}
	
    h1 {
		
      line-height: 1em;
      font-family: $alternate-font-stack;
      font-size: 2.5em;
      margin: (1.8em/3) 0 (1.5em/6) 0;
      color: $heading-colour;

      a:hover {
        text-decoration: none;
      }

      a:link, a:visited {
        color: #499DF9;
      }
    }
  }
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: $highlight-nav-background-colour;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: $white;
  background-color: $active-nav-background-colour;
}

#content {
  margin-bottom: 4em;

  h1 {
	color: #444444;		
    font-size: 1.6em;
    line-height: 1.2em;
    font-family: $alternate-font-stack;
    margin: (1.5em/3) 0 (1.5em/6) 0;
    padding: 0;
  }
  
	p {
		color: #444444;
        font-size: 1em;
        line-height: 1.3em;
	}

  section {
    margin-bottom: 2em;
	
	
    h1 {
		color: #444444;		
      font-size: 1.6em;
      line-height: 1.2em;
      font-family: $alternate-font-stack;
      margin: (1.5em/3) 0 (1.5em/6) 0;
      padding: 0;
    }
	
	h2 {
		color: #444444;
      font-size: 1.6em;
      line-height: 1.2em;
      font-family: $alternate-font-stack;
      margin: (1.5em/3) 0 (1.5em/6) 0;
      padding: 0;
    }
	
	li {
		font-size:1.2em;
		line-height:1.2em;
	}
  }
}


form.button_to {
  margin-bottom: 0;
  margin-top: (1.5em/8);
  input {
    padding: (1.5em/4) (1.5em/0.75);
  }

  display: inline;

  div {
    display: inline;
  }
}

form {
  input[type=text], textarea {
    width: 100%;
  }

  .alert-error p {
    margin-bottom: 0;
  }
}

label {
  .markdown-note {
    font-size: $fontSizeSmall;
    color: lighten($grayDark, 15%);
  }
}

.the-process {
	p {
		color: #444444;
	}
    h1 {
		color: #444444;
      font-size: 1.6em;
      line-height: 1.2em;
      font-family: $alternate-font-stack;
      margin: (1.5em/3) 0 (1.5em/6) 0;
      padding: 0;
    }
	
	h2 {
		color: #444444;
      font-size: 1.6em;
      line-height: 1.2em;
      font-family: $alternate-font-stack;
      margin: (1.5em/3) 0 (1.5em/6) 0;
      padding: 0;
    }
}

#container {
  margin: 0 auto;
  max-width: 800px;
}
